html {
    font-family: 'Odibee Sans', sans-serif;
    margin: 0;
}

body {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.864);
    background-image: url('./assets/yusuf-artun-tavern-artstation-01.jpg');
    background-size: cover;
    position: relative;
    padding-bottom: 200px;
    color:rgb(129, 75, 47);
}

#images-nav {
    width: auto;
    margin: auto;
    padding: 0;
}

ul {
    list-style-type: none;
}

#navbar {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.nav-bar {
    display: flex;
    align-content: center;
    position: relative;
    text-decoration: none;
    width: auto;
    padding: 0px;
}

a {
    padding: 0 40px 0 40px;
    text-decoration: none;
    color:antiquewhite;
    height: 100%;
}

a:hover {
    padding: 0 40px 0 40px;
    text-decoration: none;
    color: rgba(10, 219, 128, 0.572);
    height: 100%;
}

/* building out main body of page */


.card {
    width: 320px;
    height: 200px;
    border-radius: 5px 5px 20px 20px;
    border: 2px solid rgba(156, 112, 40, 0.783);
}

.editor-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 100px;
}

.preview-card {
    border: 2px solid rgba(156, 112, 40, 0.783);
    padding: 20px;
    border-radius: 40px;
    box-shadow: black 0px 10px 20px, rgba(0, 0, 0, 0.537) 0px 6px 6px;
    background-image: url(./assets/oldpaper.jpg);
}

.card-image {
    padding-bottom: 10px;
}

.iorveth-container {
    width: 100%;
    height: 350px;
    overflow: hidden;
    border-radius: 20px 20px 5px 5px;
    border: 2px solid rgba(156, 112, 40, 0.783);
}

.iorveth {
    width: 100%;
    height: auto;
}


/* CARD TEXT CSS */
.edit-card{
    margin-left: 20px;
    padding: 0px 40px;
    color: antiquewhite;
    /* border: 1px solid black; */
}

.ccg-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: auto;
    background-color: rgba(118, 97, 12, 0.653);
    border-bottom: 2px solid rgba(156, 112, 40, 0.783);
}

.ccg-power {
    color: antiquewhite;
    font-size: 60px;
    -webkit-text-stroke: 2px rgb(129, 75, 47);
    padding-left: 10px;
    padding-top: 10px;
}

.header-left {
    display: flex;
    flex-direction: row;
}

.ccg-header-name {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
   padding: 10px 10px 5px 10px;
}

.ccg-name {
    color: antiquewhite;
    font-size: 36px;
    -webkit-text-stroke: 1px rgb(129, 75, 47);
}

.ccg-race {
    font-size: 20px;
    color: antiquewhite;
    -webkit-text-stroke: 0.75px rgb(129, 75, 47);
}

.ccg-faction {
    padding: 10px;
    font-size: 20px;
    color: antiquewhite;
    -webkit-text-stroke: 0.8px rgb(129, 75, 47);
}

.ccg-body{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5px 10px 10px 10px;
}

.ccg-ability {
    padding-top: 5px;
    font-style: italic;
}

/* CSS for dropdowns */
select{
    background-color: rgba(156, 112, 40, 0.783);
    font-family: 'Odibee Sans', sans-serif;
    color: antiquewhite;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.811) 0px 18px 36px -18px inset;
}

input {
    background-color: rgba(156, 112, 40, 0.783);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.811) 0px 18px 36px -18px inset;
}

#freeform {
    background-color: rgba(156, 112, 40, 0.783);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.811) 0px 18px 36px -18px inset;
}

label {
    display: block;
    padding: 8px 12px;
    font-family: 'Odibee Sans', sans-serif;
}

label:last-child {
    border-bottom: none;
}

.tag-card-picker {
    position: relative;
    display: inline-block;
}

/* footer content */
footer {
    background-color: rgb(49, 48, 48);
    padding: 20px 1px 20px 1px;
    border-top: 2px solid rgba(10, 219, 128, 0.572);
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: auto;
    height: 30px;
}

