html {
    font-family: 'Odibee Sans', sans-serif;
    margin: 0;
}

body {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.864);
    background-image: url('./assets/yusuf-artun-tavern-artstation-01.jpg');
    background-size: cover;
    position: relative;
    padding-bottom: 200px;
}

#images-nav {
    width: auto;
    margin: auto;
    padding: 0;
}

ul {
    list-style-type: none;
}

#navbar {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.nav-bar {
    display: flex;
    align-content: center;
    position: relative;
    text-decoration: none;
    width: auto;
    padding: 0px;
}

a {
    padding: 0 40px 0 40px;
    text-decoration: none;
    color: rgba(10, 219, 128, 0.572);
    height: 100%;
}

a:hover {
    padding: 0 40px 0 40px;
    text-decoration: none;
    color: goldenrod;
    height: 100%;
}

/* building out main body of page */
.container {
    color: white;
}


/* footer content */
.footer-container {
    background-color: rgba(10, 219, 128, 0.565);
    padding: 20px 1px 20px 1px;
    border-top: 2px solid goldenrod;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: auto;
    height: 30px;
}

/* styles.css */
.tag-card-picker {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
}

label {
    display: block;
    padding: 8px 12px;
    border-bottom: 1px solid #ddd;
}

label:last-child {
    border-bottom: none;
}

/* Style the checkbox labels and hide the actual checkboxes */
label input[type="checkbox"] {
    display: none;
}




